@charset "utf-8";

/* Default settings */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    /*background: linear-gradient(to right, rgba(15, 214, 79, 0.5), rgba(248, 239, 66, 0.5));*/
}

main {
    padding-left: 0;
    padding-right: 0;
}

/* Specific styles */
aside {
    width: 50%;
    height: 100%;
    margin: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    float: right;
    box-shadow: 0 0 7px grey;
}

#canvas {
    width: 50%;
    height: 100%;
}

.btn-success {
    border: #32cd32;
    background-color: #32cd32;
}

.main-title {
    color: #fff;
    text-shadow: 0 0 2px grey;
    font-family: 'Dosis', sans-serif;
}

.row > *,
.container {
    padding-left: 0;
    padding-right: 0;
}